<% if flash[:notice] %>
  <div class="alert alert-primary alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-info"></i>Info</h5>
    <%= notice %>
  </div>
<% end %>

<h3>Transaction History</h3>
<br>

<%= link_to 'Create New', new_transaction_path, class: "btn btn-success btn-xs", style: "width: 100px" %>
<br><br>
<%= search_form_for @search, url: transactions_path do |f| %>
  <div class="input-group">
    <span class="input-group-append">  
      <%= f.search_field :id_cont, class: 'form-control', placeholder: '# Id'%>
    </span>
    <span class="input-group-append">
      <button type="submit" class="btn btn-primary btn-flat">Search</button>
    </span>
  </div>
<% end %>
<br>
<div id="people-table">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Subject</th>
                <th>Grant Type</th>
                <th>Sender Address</th>
                <th>Transactable Type</th>
                <th>Receiver Address</th>
                <th>Amount</th>
                <th>Created At</th>
                <th style="width: 120px">Created At</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% if @transactions.count.zero? %>
                <tr>
                  <th colspan="7"> No data Found </td>
                </tr>
              <% else %>
                <% @transactions.each do |transaction| %>
                  <tr>
                    <td><%= transaction.id %></td>
                    <td><%= transaction.subject %></td>
                    <td><%= transaction.grant_type %></td>
                    <td><%= transaction.sender_address %></td>
                    <td><%= transaction.transactable_type %></td>
                    <td><%= transaction.receiver_address %></td>
                    <td><%= transaction.grant.amount %></td>
                  <td><%= transaction.created_at&.strftime('%Y-%m-%d %H:%M:%S') %></td>
                    <td style="width: 60px">
                      <%= link_to 'Show', transaction, class: "btn btn-primary btn-xs", style: "width: 50px" %>
                    </td>
                    <td style="width: 60px">
                      <%= link_to 'Delete', transaction, class: "btn btn-danger btn-xs", style: "width: 50px", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
<div id="search-results">
</div>
